body {
  font-family: "Cuprum", Arial, sans-sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-color: #f3f7f9;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.inner-page {
  font-family: "pt sans narrow","Cuprum", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}

img {
max-width: 100%;
height: auto;
}

.hidden-element:not(:focus):not(:active) ,
input[type="checkbox"].hidden-element ,
input[type="radio"].hidden-element {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overlow: hidden;
}

a {
  text-decoration: none;
}
.main-header {
  font-family: "Cuprum", Arial, sans-sans-serif;
}

.header-first-floor {
  background-color: #293449;
  color: #ffffff;
}

.header-background-color {
  background-color: #f2f6f8;
}
.header-first-floor-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.header-first-floor .logoheader {
  background-color: red;
  box-shadow: 0 5px 0 0 #9a212a;
  width: 220px;
  box-sizing: border-box;
  min-height: 42px;
  padding-top: 13px;
  text-align: center;
}

.header-first-floor .logoheader:hover ,
.header-first-floor .logoheader:focus {
  background-color: #ca2c37;
  color: #ffffff;
}

.header-first-floor .logoheader:active {
  background-color: #ba2732;
  color: #ffffff;
}
.first-floor-navigation {
display: flex;
width: 450px;
justify-content: space-between;
}

.first-floor-navigation a:last-child {
  background-color: #63a63e;
}

.first-floor-navigation a:last-child:focus ,
.first-floor-navigation a:last-child:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.first-floor-navigation a:last-child:active {
  background-color: #518534;
  color: #ffffff;
}

.first-floor-navigation a {
  color: #ffffff;
  font: inherit;
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
}

.first-floor-navigation .bookmarks ,
.first-floor-navigation .cart {
  position: relative;
  padding-left: 40px;
}
.bookmarks::before {
position: absolute;
content: "";
background-image: url("../img/icon-bookmark.svg");
background-repeat: no-repeat;
background-position: 0 0;
width: 14px;
height: 16px;
top: 14px;
left: 18px;
opacity: 0.3;
}
.cart::before {
  position: absolute;
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  top: 14px;
  left: 27px;
  opacity: 0.3;
}
.search {
  position: relative;
}
.search-bar::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 17px;
  top: 13px;
  opacity: 0.3;
}

.bookmarks:hover ,
.bookmarks:focus ,
.cart:hover ,
.cart:focus {
  background-color: #212a3a;
}
.bookmarks:hover::before ,
.bookmarks:focus::before ,
.cart:hover::before ,
.cart:focus::before ,
.search-bar:hover::before{
  opacity: 1;
}

.bookmarks:active ,
.cart:active ,
.bookmarks:active::before ,
.cart:active::before {
  background-color: #161d29;
  opacity: 0.5;
}
input[type="search"] {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  width: 271px;
  min-height: 42px;
  padding-left: 50px;
}

input[type="search"]:hover {
  background-color: #212a3a;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

input[type="search"]:focus {
  background-color: #ffffff;
  color: #000000;
}

input[type="search"]:active {
background-color: #ffffff;
color: #000000;
}

.search-button {
  display: none;
}
.header-second-floor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-second-floor h1 {
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  color: #ef5d67;
  font-style: italic;
}
.header-contacts a {
  position: relative;
  display: block;
  border: 3px solid white;
  width: 270px;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #ef5a64;
  margin: 0;
  padding: 11px 0;
}
.header-contacts a::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 12px;
}

.header-contacts {
  font-size: 14px;
  line-height: 24px;
  color: #7f8a9a;
  text-align: center;
}

.nav-user-login {
list-style: none;
display: flex;
padding: 0;
width: 280px;
justify-content: space-between;
}

.nav-user-login a {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 25px;
}
.nav-user-login .login {
  position: relative;
  padding-left: 40px;
}
.login::before {
  position: absolute;
  width: 21px;
  height: 17px;
  content: "";
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 14px;
  top: 18px;
}
.login:hover::before {
  position: absolute;
  width: 21px;
  height: 17px;
  content: "";
  background-image: url("../img/icon-login-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 14px;
  top: 18px;
}

.nav-user-login a:hover ,
.nav-user-login a:focus {
  background-color: #ffffff;
  color: #f36c75;
}

.nav-user-login a:active {
  background-color: #ffffff;
  color: #b2b2b2;
  border: none;
}

.main-navigation-list {
  display: flex;
  min-height: 55px;
  justify-content:space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #32425c;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  box-shadow: 0px 5px 0 0 #293449;
  margin-bottom: 60px;
}

.main-navigation a {
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 17px;
  padding-bottom: 19px;
}

.main-navigation a:hover ,
.main-navigation a:focus {
  color: #ffffff;
  background-color: #293449;
}

.main-navigation a:active {
  color: #8e939c;
  background-color: #1d2739;
}
.technomart-info {
  display: flex;
  justify-content: space-between;
}
.delivery-info {
  width: 540px;
  min-height: 375px;
}
.delivery-office {
  min-height: 375px;
  width: 300px;
}

.deliv-servesis {
margin: 0;
padding: 0;
margin-bottom: 35px;
margin-top: 25px;
list-style: none;
font-size: 18px;
line-height: 20px;
color: #000000;
}

.deliv-company {
  margin-bottom: 20px;
}
.technomart-info h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.technomart-map-small {
  display: block;
  margin-bottom: 40px;
  margin-top: 35px;
}
.technomart-info p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.technomart-info .button {
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  padding: 12px 40px;
  border-radius: 3px;
  margin-top: 40px;
}
.technomart-info .button:hover ,
.technomart-info .button:focus {
  background-color: #ca2c37;
  color: #ffffff;
}
.technomart-info .button:active {
  background-color: #ba2732;
}
.delivery-info .button {
  width: 220px;
}
.delivery-office .button {
  width: 300px;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-sans-serif;
  background-color: #32425c;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin-top: 85px;
}
.main-footer a:hover ,
.main-footer a:focus {
  text-decoration: underline;
}
.footer-first-floor {
display: flex;
min-height: 68px;
margin-bottom: 35px;
justify-content: space-between;
}

.footer-navigation ul {
list-style: none;
display: flex;

}
.footer-navigation li {
margin-right: 60px;
}
.footer-navigation li:last-child {
  margin-right: 0;
}

.footer-first-floor a {
  color: #ffffff;
}
.footer-first-floor a:active {
  color: #929caa;
  text-decoration: none;
}

.footer-first-floor .footer-logo {
  background-color: red;
  box-shadow: 0 5px 0 0 #9a212a;
  width: 220px;
  box-sizing: border-box;
  min-height: 63px;
  padding-top: 21px;
  text-align: center;
}

.footer-second-floor {
  display:flex;
  margin-bottom: 55px;
  justify-content: space-between;
}
.footer-second-floor p {
  margin: 0;
  padding: 0;
}

.footer-goods-list ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-goods-list li {
  margin-right: 60px;
}

.footer-goods-list li:last-child {
  margin-right: 0;
}

.footer-second-floor a {
  color: #ffffff;
}
.footer-goods-list a:active {
  color: #998a6e;
  text-decoration: none;
}


.footer-goods-list a {
  color: #ffd180;
}

.footer-third-floor {
background-color: #293449;
font-size: 16px;
line-height: 18px;
color: #ffffff;
}

.footer-third-floor-wrapper{
  display: flex;
  justify-content: space-between;
}
.copyrights {
  min-height: 41px;
  width: 230px;
}

.footer-links ul {
  text-align: center;
  list-style: none;
  display: flex;
  width: 130px;
  justify-content: space-between;
}
.social-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover ,
.social-button:focus ,
.social-button:active {
  background-color: #ee3643;
}
.footer-links a {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 14px;
}
.footer-links a:hover ,
.footer-links a:active ,
.footer-links a:focus {
  color: #ee3643;
}

.developed {
  font-size: 16px;
  font-style: 18px;
  color: #ffffff;
}
.developed a {
  color: #ffd180;
}

.developed a:active {
  text-decoration: none;
  color: #ee3643;
}

.modal {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}
.modal ul {
  list-style: none;
}
.modal input:focus {
  border:1px solid red;
  outline: none;
}

.modal textarea:focus {
  border:1px solid red;
  outline: none;
}

.modal .button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
}

/* Конец Index ---------------------------------------------------------- */

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  width: 380px;
  min-height: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
    margin-right: 40px;
}
.breadcrumbs a {
  color: #000000;
}

.merch-headline {
  font-family: "Cuprum", Arial, sans-sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  background-color: #f2f6f8;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.filter {
  width: 220px;
  min-height: 750px;
}
.filter h2 {
  display: block;
  background-color: #f7f3ec;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.filter input {
  color: #c5c5c5;
}
.filter input:hover ,
.filter input:focus {
  color: #b5b5b5;
}
.filter input:disabled + label {
  color: #e9e9e9;
}
.filter-button {
  font-family: inherit;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 40px;
  border: 1px solid lightgrey;
}
.button {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.button:active {
  border: 1px solid red;
}
.catalog {
min-height: 1200px;
width: 700px;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.catalog ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog a {
  color: #000000;
}
.item-name {
  width: 220px;
  min-height: 315px;
  margin-bottom: 20px;
  margin-right: 20px;
  outline: 1px solid lightgrey;
}

.item-name:hover ,
.item-name:focus {
  box-shadow: 0px 10px 50px -30px #000000;
}
.item-name h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
}

.item-name a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.item-name img {
  order: -1;
}
.item-name .price {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 140px;
  font-size: 17px;
  line-height: 18px;
  justify-content: flex-end;
}


.item-name:nth-child(3n) {
  margin-right: 0;
}
.item-name:nth-child(3n) .price {
  margin-top: 38px;
}
.old-price {
  color: #999999;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  padding-left: 37px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.new-price {
  color: #ffffff;
  background-color: red;
  font-size: 17px;
  line-height: 18px;
  padding-left: 37px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-instrument {
  background-color: #f2f6f8;
  color: #000000;
  margin-bottom: 70px;
}

.about-instrument h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-instrument p {
  font-size: 13px;
  line-height: 34px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  min-height: 38px;
  width: 38px;
}
.pagination-list a{
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.pagination-list {
  list-style: none;
  border: none;
}
.pagination-list a:hover ,
.pagination-list a:focus {
  border: 1px solid #bdc6ca;
}
.pagination-list a:active {
  border: 1px solid red;
}
.pagination-page-current {
  color: #ffffff;
  background-color: red;
}

.modal-cart h2 {
  font-family: "Cuprum", Arial, sans-sans-serif;
  font-size: 30px;
  line-height: 30px;
}
.check-out {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
}

.continue-shoping {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
