 body {
     font-family: "Cuprum", Arial, sans-sans-serif;
     margin: 0px;
     padding: 0px;
     font-weight: 400;
     font-size: 17px;
     line-height: 18px;
     color: #000000;
     position: relative;
}
 .container {
     width: 940px;
     margin: 0 auto;
     padding: 0 10px;
}
 .inner-page {
     font-family: "pt sans","Cuprum", Arial, sans-serif;
     margin: 0px;
     padding: 0px;
     font-weight: 400;
     font-size: 18px;
     line-height: 18px;
     color: #000000;
     background-color: #ffffff;
}
 img {
     max-width: 100%;
     height: auto;
}
 .hidden-element:not(:focus):not(:active) , input[type="checkbox"].hidden-element , input[type="radio"].hidden-element {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     -webkit-clip-path: inset(100%);
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overlow: hidden;
}
 a {
     text-decoration: none;
}
 .main-header {
     font-family: "Cuprum", Arial, sans-serif;
     background-color: #f3f7f9;
     min-height: 320px;
}
 .header-first-floor {
     background-color: #293449;
     color: #ffffff;
}
 .header-background-color {
     background-color: #f2f6f8;
}
 .header-first-floor-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 33px;
}
 .header-first-floor .logoheader {
     background-color: #ee3643;
     -webkit-box-shadow: 0 5px 0 0 #9a212a;
     box-shadow: 0 5px 0 0 #9a212a;
     width: 220px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     min-height: 42px;
     padding-top: 13px;
     padding-left: 55px;
}
 .logoheader img {
     display: block;
     width: 108px;
     height: 20px;
}
 .header-first-floor .logoheader:hover , .header-first-floor .logoheader:focus {
     background-color: #ca2c37;
     color: #ffffff;
}
 .header-first-floor .logoheader:active {
     background-color: #ba2732;
     color: #ffffff;
}
 .first-floor-navigation {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 450px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .first-floor-navigation a:last-child {
     background-color: #63a63e;
}
 .first-floor-navigation a:last-child:focus , .first-floor-navigation a:last-child:hover {
     background-color: #5fbb2d;
     color: #ffffff;
}
 .first-floor-navigation a:last-child:active {
     background-color: #518534;
     color: #ffffff;
}
 .first-floor-navigation a {
     color: #ffffff;
     font: inherit;
     width: 150px;
     text-align: center;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-top: 12px;
}
 .first-floor-navigation .bookmarks , .first-floor-navigation .cart {
     position: relative;
     padding-left: 16px;
}
 .bookmarks::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-bookmark.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 14px;
     height: 16px;
     top: 12px;
     left: 17px;
     opacity: 0.3;
}
 .cart::before {
     position: absolute;
     content: "";
     background-image: url("../img/cart-icon.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 15px;
     height: 15px;
     top: 12px;
     left: 18px;
     opacity: 0.3;
}
 .search {
     position: relative;
}
 .search:hover{
      background-color: #212a3a;
}
 .search:hover input[type="search"] {
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 17px 13px;
}
 .search-bar svg {
     position: absolute;
     left: 17px;
     top: 13px;
     opacity: 0.3;
}
 .bookmarks:hover , .bookmarks:focus , .cart:hover , .cart:focus {
     background-color: #212a3a;
}
 .bookmarks:hover::before , .bookmarks:focus::before , .cart:hover::before , .cart:focus::before , .search-bar:hover svg {
     opacity: 1;
}
 .search-bar {
     background-image: url("../img/icon-search.svg");
     background-repeat: no-repeat;
     background-position: 17px 13px;
}
 .search-bar input[type="search"] {
     background-color: #293449;
     font-size: 17px;
     line-height: 18px;
     color: #ffffff;
     border: none;
     width: 271px;
     min-height: 42px;
     padding-left: 50px;
}
 .search-bar input[type="search"]:focus,
 .search-bar input[type="search"]:active {
     background-image: url("../img/icon-search-red.svg");
     background-repeat: no-repeat;
     background-position: 17px 13px;
     background-color: #ffffff;
     color: #000000;
     z-index: 2;
}
 .search-bar input[type="search"] {
    background-image: url("../img/icon-search-transparent.svg");
    background-repeat: no-repeat;
    background-position: 17px 13px;
}

 .search-bar input[type="search"]:focus {
     background-color: #ffffff;
     color: #000000;
}
 .bookmarks:active , .cart:active , .bookmarks:active::before , .cart:active::before {
     background-color: #161d29;
     opacity: 0.5;
}
 .filled-cart {
     background-color: #ee3643;
}
 .filled-cart:hover, .filled-cart:focus {
     background-color: #ca2c37;
}
 .filled-cart:active {
     background-color: #ba2732;
}
 .search-bar input[type="search"]::-webkit-input-placeholder {
     color: #ffffff;
}
 .search-bar input[type="search"]:-ms-input-placeholder {
     color: #ffffff;
}
 .search-bar input[type="search"]::-ms-input-placeholder {
     color: #ffffff;
}
 .search-bar input[type="search"]::placeholder {
     color: #ffffff;
}
 .search-button {
     display: none;
}
 .header-second-floor {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     /* justify-content: space-between; */
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin-bottom: 25px;
}
 .header-second-floor h1 {
     margin: 0;
     padding: 0;
     width: 200px;
     font-size: 16px;
     line-height: 23px;
     color: #ef5d67;
     font-style: italic;
     padding-left: 52px;
     margin-right: 68px;
}
 .header-second-floor .logged-in-user {
   margin-left: 49px;

 }
 .header-contacts a {
     position: relative;
     display: block;
     border: 3px solid white;
     width: 270px;
     font-size: 21px;
     line-height: 21px;
     color: #ef5a64;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 17px;
     margin-bottom: 5px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .header-contacts a::before {
     position: absolute;
     content: "";
     width: 19px;
     height: 19px;
     background-image: url("../img/icon-phone.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     left: 10px;
     top: 9px;
}
 .header-contacts {
     font-size: 14px;
     line-height: 24px;
     color: #32425c;
     text-align: center;
}
 .nav-user-login {
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 0;
     margin: 0;
     width: 280px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -ms-flex-item-align: start;
     align-self: flex-start;
     margin-top: 13px;
     margin-left: 70px;
}
 .nav-user-login a {
     font-size: 21px;
     line-height: 21px;
     background-color: #ffffff;
     color: #000000;
}
 .nav-user-login .login {
     position: relative;
     display: block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     height: 45px;
     padding-top: 12px;
     padding-right: 30px;
     padding-left: 45px;
}
 .nav-user-login .registration {
     display: block;
     width: 150px;
     min-height: 45px;
     padding: 12px 25px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .login::before {
     position: absolute;
     width: 21px;
     height: 17px;
     content: "";
     background-image: url("../img/icon-login.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     left: 12px;
     top: 15px;
}
 .login:hover::before {
     position: absolute;
     width: 21px;
     height: 17px;
     content: "";
     background-image: url("../img/icon-login-active.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     left: 12px;
     top: 15px;
}
 .login:active::before {
    position: absolute;
    width: 21px;
    height: 17px;
    content: "";
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 12px;
    top: 15px;
}
 .nav-user-login a:hover , .nav-user-login a:focus {
     background-color: #ffffff;
     color: #f36c75;
}
 .nav-user-login a:active {
     background-color: #ffffff;
     color: #b2b2b2;
     border: none;
}
 .nav-user-loged {
     position: relative;
     margin: 0;
     display: block;
     padding-top: 12px;
     padding-bottom: 14px;
     padding-left: 45px;
     padding-right: 70px;
     background-color: #ffffff;
     font-size: 21px;
     line-height: 21px;
     margin-bottom: 8px;
}
 .nav-user-loged a {
     color: #000000;
}
 .user-logout-icon {
     position: absolute;
     width: 21px;
     height: 17px;
     content: "";
     background-image: url("../img/icon-logout.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     right: 12px;
     top: 15px;
}
 .user-login-icon {
     position: absolute;
     width: 21px;
     height: 17px;
     content: "";
     background-image: url("../img/icon-user.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     left: 12px;
     top: 15px;
}
 .nav-user-menu {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     text-decoration: underline;
     list-style: none;
     margin: 0;
     padding: 0;
}
 .logged-in-user {
     position: relative;
}
 .nav-user-menu a {
     padding-right: 10px;
     padding-left: 20px;
     font-size: 16px;
     line-height: 18px;
     color: #657286;
}
 .nav-user-menu a:hover, .nav-user-menu a:focus {
     color: #ee3643;
}
 .nav-user-menu a:active {
     color: #cbd1d8;
}
 .main-navigation-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     min-height: 55px;
     -webkit-box-pack:justify;
     -ms-flex-pack:justify;
     justify-content:space-between;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 0;
     margin: 0;
     background-color: #32425c;
     color: #ffffff;
     font-size: 17px;
     line-height: 17px;
     list-style: none;
     -webkit-box-shadow: 0px 5px 0 0 #293449;
     box-shadow: 0px 5px 0 0 #293449;
     padding: 0 20px;
}
 .main-navigation a {
     display: inline-block;
     color: #ffffff;
     padding-left: 30px;
     padding-right: 30px;
     padding-top: 20px;
     padding-bottom: 17px;
}
 .main-navigation a:hover , .main-navigation a:focus {
     color: #ffffff;
     background-color: #293449;
}
 .main-navigation a:active {
     color: #8e939c;
     background-color: #1d2739;
}
 .palitra-first-floor {
     margin-bottom: 20px;
     margin-top: 60px;
}
 .catalog-shortcuts {
     position: relative;
     padding: 0;
     margin: 0;
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .palitra-second-floor {
     margin-bottom: 53px;
}
 .palitra-second-floor-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     position: relative;
}
 .palitra-second-floor-wrapper input[class="first-slider"] {
     position: absolute;
     z-index: 1;
     left: 294px;
     bottom: 33px;
}
 .palitra-second-floor-wrapper input[class="second-slider"] {
     position: absolute;
     z-index: 1;
     left: 314px;
     bottom: 33px;
}
 input[class="first-slider"]:checked + .palitra-img {
     display: block;
}
 input[class="second-slider"]:checked + .palitra-img-2 {
     display: block;
}
 .catalog-shortcuts-2 {
     padding: 0;
     margin: 0;
     list-style: none;
}
 .palitra-img, .palitra-img-2 {
     display: none;
}
 .palitra-img, .palitra-img-2 {
     position: relative;
}
 .palitra-img {
     background-image: url("../img/man-with-perforator.jpg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 620px;
}
 .palitra-img-2 {
     background-image: url("../img/man-with-drill.jpg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 620px;
}
 .palitra-img h3, .palitra-img-2 h3 {
     display: inline-block;
     color: #ffffff;
     margin: 0;
     padding: 0;
     font-size: 36px;
     line-height: 36px;
     vertical-align: top;
     margin-left: 24px;
     margin-top: 23px;
}
 .palitra-img p, .palitra-img-2 p {
     margin: 0;
     padding: 0;
     color: #ffffff;
     font-size: 18px;
     line-height: 24px;
     margin-left: 24px;
     margin-top: 1px;
}
 .palitra-img .catalog-button, .palitra-img-2 .catalog-button {
     display: block;
     text-align: center;
     outline: none;
     color: #ffffff;
     background-color: #ee3643;
     border-radius: 3px;
     width: 195px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     text-transform: uppercase;
     border: 1px solid transparent;
     margin-top: 122px;
     margin-left: 25px;
     font-size: 14px;
     line-height: 18px;
     padding: 9px 40px;
}
 .palitra-img .catalog-button:hover, .palitra-img-2 .catalog-button:hover, .palitra-img .catalog-button:focus, .palitra-img-2 .catalog-button:focus {
     background-color: #ca2c37;
}
 .palitra-img .catalog-button:active, .palitra-img-2 .catalog-button:active {
     background-color: #ba2732;
     border: 1px solid transparent;
}
 .button-left {
     display: block;
     position: absolute;
     content: "";
     width: 22px;
     height: 40px;
     background-image: url("../img/icon-left.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     background-color: rgba(0, 0, 0, 0);
     top: 114px;
     left: 25px;
     border: none;
     cursor: pointer;
}
 .button-right {
     position: absolute;
     content: "";
     width: 22px;
     height: 40px;
     background-image: url("../img/icon-left.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     -webkit-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg);
     top: 114px;
     right: 20px;
     border: none;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0);
}
 .catalog-shortcuts h3, .catalog-shortcuts-2 h3 {
     color: #ffffff;
     padding: 0;
     margin: 0;
     font-size: 24px;
     line-height: 30px;
     padding-left: 23px;
     padding-top: 20px;
}
 .catalog-shortcuts a, .catalog-shortcuts-2 a {
     display: block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 14px;
     line-height: 18px;
     width: 135px;
     height: 40px;
     text-decoration: none;
     text-transform: uppercase;
     color: #ffffff;
     background-color: rgba(0, 0, 0, 0.1);
     text-align: center;
     padding-top: 12px;
     border-radius: 5px;
     margin-top: 10px;
     margin-left: 23px;
}
 .catalog-shortcuts a:hover, .catalog-shortcuts-2 a:hover, .catalog-shortcuts a:focus, .catalog-shortcuts-2 a:focus {
     background-color: rgba(0, 0, 0, 0.2);
}
 .catalog-shortcuts a:active, .catalog-shortcuts-2 a:active {
     background-color: rgba(0, 0, 0, 0.3);
}
 .mod-new::after {
     content: "";
     background-image: url("../img/new flag.png");
     background-position: 0 0;
     background-repeat: no-repeat;
     position: absolute;
     top: 0px;
     right: 0px;
     width: 60px;
     height: 60px;
}
 .catalog-shortcuts li {
     position: relative;
     width: 300px;
     height: 122px;
}
 .catalog-shortcuts-2 li {
     position: relative;
     width: 300px;
     height: 125px;
     margin-bottom: 15px;
}
 .catalog-shortcuts li:first-child {
     background-color: #ffbf47;
}
 .catalog-shortcuts li:nth-child(2) {
     background-color: #3bbce3;
}
 .catalog-shortcuts li:last-child {
     background-color: #dc91d8;
}
 .catalog-shortcuts-2 li:first-child {
     background-color: #8ed78f;
}
 .catalog-shortcuts-2 li:last-child {
     background-color: #ffc047;
     margin-bottom: 0;
}
 .catalog-shortcuts li:first-child::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-1.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     width: 45px;
     height: 65px;
     right: 43px;
     top: 32px;
}
 .catalog-shortcuts li:nth-child(2)::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-2.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     width: 75px;
     height: 61px;
     right: 30px;
     top: 32px;
}
 .catalog-shortcuts li:last-child::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-3.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     width: 80px;
     height: 63px;
     right: 30px;
     top: 32px;
}
 .catalog-shortcuts-2 li:first-child::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-4.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     width: 60px;
     height: 75px;
     right: 43px;
     top: 26px;
}
 .catalog-shortcuts-2 li:last-child::before {
     position: absolute;
     content: "";
     background-image: url("../img/icon-5.svg");
     background-position: 0 0;
     background-repeat: no-repeat;
     width: 78px;
     height: 65px;
     right: 30px;
     top: 32px;
}
 .popular-headline {
     background-color: #f9f5f0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     margin-bottom: 20px;
}
 .popular-headline h2 {
     margin: 0;
     padding: 0;
     margin-top: 30px;
     margin-bottom: 30px;
     font-size: 30px;
     line-height: 30px;
     color: #32425c;
     padding-left: 30px;
     text-transform: uppercase;
     font-weight: 400;
}
 .popular-headline a {
     display: inline-block;
     margin: 25px 23px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 255px;
     font-size: 14px;
     line-height: 18px;
     text-transform: uppercase;
     border: 1px solid transparent;
     outline: none;
     color: #ffffff;
     background-color: #ee3643;
     border-radius: 3px;
     text-align: center;
     padding-top: 10px;
}
 .popular-list {
     padding: 0;
     margin: 0;
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .popular-name {
     position: relative;
     width: 220px;
     min-height: 315px;
     margin-bottom: 20px;
     border: 1px solid lightgrey;
     margin-bottom: 21px;
}
 .popular-button:hover, .popular-button:focus {
     background-color: #ca2c37;
}
 .popular-button:active {
     background-color: #ba2732;
     border: 1px solid transparent;
}
 .popular-name:hover , .popular-name:focus {
     -webkit-box-shadow: 0px 10px 50px -30px #000000;
     box-shadow: 0px 10px 50px -30px #000000;
}
 .popular-name .flag {
     position: absolute;
     top: 0px;
     right: 0px;
     width: 60px;
     height: 60px;
}
 .popular-name a {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: start;
     -ms-flex-pack: start;
     justify-content: flex-start;
}
 .popular-name img {
     -webkit-box-ordinal-group:0;
     -ms-flex-order:-1;
     order:-1;
}
 .popular-name h3 {
     text-align: center;
     color: #000000;
     font-weight: 700;
     padding: 0 25px;
     margin-top: 8px;
     margin-bottom: 3px;
     font-size: 20px;
     line-height: 20px;
}
 .price {
     font-family: "pt sans","Cuprum", Arial, sans-serif;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .price .no-discount {
     margin-top: 35px;
}
 .actions {
     position: absolute;
     top: 0;
     left: 0;
     width: 220px;
     height: 90px;
     padding: 40px 0;
     background-color: rgba(255,255,255,0.9);
     z-index: 2;
}
 .actions .buy, .actions .inbookmarks {
     position: relative;
     display: block;
     width: 129px;
     margin: 0 auto;
     margin-bottom: 7px;
     padding-top: 10px;
     padding-bottom: 8px;
     background-color: #63a63e;
     border: 3px solid #63a63e;
     -webkit-box-shadow: 0 3px 0 0 #367315;
     box-shadow: 0 3px 0 0 #367315;
     text-align: center;
     border-radius:3px;
     color: white;
     font-size: 14px;
     font-weight: normal;
     font-family: "Cuprum", Arial, sans-serif;
     line-height: 18px;
     text-decoration: none;
     text-transform: uppercase;
}
 .actions .inbookmarks {
     color: #32425c;
     background: white;
     -webkit-box-shadow: none;
     box-shadow: none;
}
 .actions .buy::before {
     position: absolute;
     content: "";
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 15px;
     height: 15px;
     background-image: url("../img/cart-icon.svg");
     left: 12px;
     top: 8px;
     opacity: 0.3;
}
 .actions .buy:hover, .actions .buy:focus, .actions .buy:hover::before, .actions .buy:focus::before {
     background-color: #5fbb2d;
     border-color: #5fbb2d;
     opacity: 1;
}
 .actions .buy:active, .actions .buy:active::before {
     opacity: 1;
     background-color: #518534;
     border-color: #518534;
}
 .actions .inbookmarks:hover, .actions .inbookmarks:focus {
     border-color: #32425c;
}
 .actions .inbookmarks:active {
     border-color: #c1c6ce;
     color: #c1c6ce;
}
 .popular-name .actions {
     display: none;
}
 .popular-name:hover .actions {
     display: block;
}
 .manufacturers-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding: 0;
     margin: 0;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     margin-bottom: 63px;
}
 .manufacturers-list li {
     width: 218px;
     height: 143px;
     border: 1px solid lightgrey;
     margin-bottom: 20px;
}
 .manufacturers-list li:hover, .manufacturers-list li:focus {
     -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
 .manufacturers-list li:active {
     -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
     opacity: 0.5;
}
 .manufacturers-list img {
     display: block;
     margin: auto auto;
     margin-top: 48px;
}
 .manufacturers-list .interscol {
     margin-top: 20px;
}
 .manufacturers-list .lg {
     margin-top: 32px;
}
 .manufacturers-list .aeg {
     margin-top: 20px;
}
 .manufacturers-list .hitachi {
     margin-top: 53px;
}
 .manufacturers-list .metabo {
     margin-top: 30px;
}
 .services-section {
     width: auto;
     background-color: #f4f7f9;
     margin-bottom: 80px;
     border: 1px solid transparent;
}
 .services-section h2 {
     margin: 0;
     padding: 0;
     text-transform: uppercase;
     font-size: 30px;
     line-height: 30px;
     margin-top: 65px;
     margin-bottom: 25px;
}
 .services-section p {
     font-family: "pt sans", Arial, sans-serif;
     padding: 0;
     margin: 0;
     font-size: 13px;
     line-height: 24px;
     margin-bottom: 70px;
     width: 400px;
}
 .services-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .services-radio label {
     display: block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     border-top: 1px solid #405069;
     border-bottom: 1px solid #293449;
     font-size: 21px;
     line-height: 30px;
     color: #ffffff;
     width: 240px;
     height: 63px;
     background-color: #32425c;
     padding-left: 20px;
     padding-top: 15px;
}
 .services-radio label:hover, .services-radio label:focus {
     background-color: #293449;
}
 .services-radio input[type="radio"]:checked + label {
     color: #32425c;
     background-color: #ffffff;
     border: none;
}
 .delivery-info {
     display: block;
     width: 620px;
     min-height: 212px;
     margin-left: 80px;
     background-image: url("../img/bus.png");
     background-repeat: no-repeat;
     background-position: top 20px right 0px;
}
 .delivery-info p {
     width: 275px;
}
 .delivery-info h2 {
     margin: 0;
     padding: 0;
     color: #32425c;
     margin-bottom: 21px;
     font-size: 36px;
     line-height: 36px;
     font-weight: 400;
}
 .waranty-info {
     display: none;
     width: 620px;
     min-height: 212px;
     margin-left: 80px;
     margin-top: 2px;
     background-image: url("../img/waranty.png");
     background-repeat: no-repeat;
     background-position: top 20px right 0px;
}
 .waranty-info h2 {
     margin: 0;
     color: #32425c;
     margin-bottom: 21px;
     font-size: 36px;
     line-height: 36px;
}
 .credit-info {
     display: none;
     width: 620px;
     min-height: 212px;
     margin-left: 80px;
     margin-top: 2px;
     background-image: url("../img/credit.png");
     background-repeat: no-repeat;
     background-position: top 20px right 0px;
}
 .credit-info h2 {
     margin: 0;
     color: #32425c;
     margin-bottom: 21px;
     font-size: 36px;
     line-height: 36px;
}
 .credit-button {
     display:block;
     width: 195px;
     margin-top: 20px;
}
 .technomart-info {
     margin-bottom: 84px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .delivery-companies {
     width: 522px;
     min-height: 375px;
}
 .delivery-companies p:nth-child(3) {
     padding-right: 100px;
}
 .delivery-office {
     min-height: 375px;
     width: 300px;
}
 .delivery-office p {
     width: 180px;
}
 .deliv-company-1, .deliv-company-2, .deliv-company-3 {
     position: relative;
     margin-bottom: 20px;
}
 .deliv-company-1::before, .deliv-company-2::before, .deliv-company-3::before {
     position: absolute;
     content: "";
     width: 22px;
     height: 2px;
     background-image: url("../img/red_line.png");
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 10px;
     left: -35px;
}
 .deliv-services {
     margin: 0;
     padding: 0;
     margin-bottom: 38px;
     margin-top: 20px;
     list-style: none;
     font-size: 18px;
     line-height: 20px;
     color: #000000;
     padding-left: 35px;
}
 .deliv-company {
     margin-bottom: 20px;
}
 .technomart-info h2 {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     color: #000000;
     padding: 0;
     margin: 0;
     margin-bottom: 26px;
}
 .technomart-map-small {
     display: block;
     margin-bottom: 38px;
     margin-top: 35px;
}
 .technomart-info p {
     font-family: "pt sans", Arial, sans-serif;
     font-size: 13px;
     line-height: 24px;
     color: #000000;
     padding: 0;
     margin: 0;
     margin-top: 25px;
}
 .technomart-info .button {
     color: #ffffff;
     background-color: #ee3643;
     text-align: center;
     padding: 9px 40px;
     border-radius: 3px;
     border: 1px solid transparent;
     text-transform: uppercase;
}
 .technomart-info .button:hover , .technomart-info .button:focus {
     background-color: #ca2c37;
     color: #ffffff;
}
 .technomart-info .button:active {
     border: 1px solid transparent;
     background-color: #ba2732;
}
 .delivery-companies .button {
     display: block;
     width: 137px;
}
 .contact-us-button {
     display: block;
     width: 300px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .main-footer {
     font-family: "Cuprum", Arial, sans-serif;
     background-color: #32425c;
     color: #ffffff;
     font-size: 18px;
     line-height: 24px;
}
 .main-footer a:hover , .main-footer a:focus {
     text-decoration: underline;
}
 .footer-first-floor {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     min-height: 63px;
     margin-bottom: 33px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .footer-navigation ul {
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin: 0;
     padding: 0;
     padding-top: 37px;
}
 .footer-navigation li {
     margin-right: 60px;
}
 .footer-navigation li:last-child {
     margin-right: 0;
}
 .footer-first-floor a {
     color: #ffffff;
}
 .footer-first-floor a:active {
     color: #929caa;
     text-decoration: none;
}
 .footer-first-floor .footer-logo {
     background-color: #ee3643;
     -webkit-box-shadow: 0 5px 0 0 #9a212a;
     box-shadow: 0 5px 0 0 #9a212a;
     width: 220px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-top: 21px;
     text-align: center;
}
 .footer-first-floor .footer-logo:hover , .footer-first-floor .footer-logo:focus {
     background-color: #ca2c37;
     color: #ffffff;
}
 .footer-first-floor .footer-logo:active {
     background-color: #ba2732;
     color: #ffffff;
}
 .footer-second-floor {
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     margin-bottom: 50px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .footer-second-floor p {
     margin: 0;
     padding: 0;
     width: 334px;
}
 .footer-goods-list ul {
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 0;
     margin: 0;
}
 .footer-goods-list li {
     margin-right: 55px;
}
 .footer-goods-list li:last-child {
     margin-right: 0;
}
 .footer-second-floor a {
     color: #ffffff;
}
 .footer-goods-list a:active {
     color: #998a6e;
     text-decoration: none;
}
 .footer-goods-list a {
     color: #ffd180;
}
 .footer-third-floor {
     background-color: #293449;
     font-size: 16px;
     line-height: 18px;
     color: #ffffff;
     padding-bottom: 30px;
}
 .footer-third-floor-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .copyrights {
     min-height: 41px;
     width: 230px;
     padding: 0;
     margin: 0;
     padding-top: 36px;
}
 .footer-links {
     padding: 0;
     margin: 0;
     margin-top: 34px;
     padding-left: 50px;
     text-align: center;
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 130px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .social-button {
     width: 42px;
     height: 42px;
     border-radius: 50%;
     background-color: #212a3a;
}
 .social-button:hover , .social-button:focus , .social-button:active {
     background-color: #ee3643;
}
 .footer-links a {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     color: #ffffff;
}
 .vk-button {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-top: 14px;
}
 .fb-button, .inst-button {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-top: 10px;
}
 .footer-links a:hover , .footer-links a:active , .footer-links a:focus {
     color: #ee3643;
}
 .developed {
     padding: 0;
     margin: 0;
     margin-top: 37px;
     font-size: 16px;
     color: #ffffff;
     width: 100px;
}
 .developed a {
     color: #ffd180;
}
 .developed a:active {
     text-decoration: none;
     color: #ee3643;
}
 .modal {
     position: absolute;
     font-size: 18px;
     line-height: 18px;
     color: #000000;
     background-color: #ffffff;
}
 .modal-write-us {
     display: none;
     width: 620px;
     bottom: 170px;
     left: 50%;
     margin-left: -215px;
     -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     border-top: 7px solid #ff5257;
     z-index: 2;
}
 .modal-map {
     display: none;
     width: 940px;
     -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     bottom: 355px;
     left: 50%;
     margin-left: -470px;
}
 .write-us-form .input-area {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     width: 460px;
     margin: 0 auto;
}
 .write-us-form label {
     display: block;
     margin-bottom: 10px;
}
 .write-us-form input[type="text"] {
     margin-right: 20px;
}
 .write-us-form input[type="text"], .write-us-form input[type="email"] {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 220px;
     border: 2px solid lightgrey;
     border-radius: 2px;
     padding: 12px 15px;
}
 .write-us-form textarea {
     width: 455px;
     border: 2px solid lightgrey;
     border-radius: 2px;
     display: block;
}
 .button-area {
     background-color: #f4f4f4;
}
 .button-area button:first-child {
     width: 460px;
     margin: 35px 80px;
     border: none;
}
 .modal-close-button {
     position: absolute;
     font-size: 0;
     cursor: pointer;
     border: 0;
     top: 9px;
     right: 11px;
}
 .modal-close-button::after, .modal-close-button::before {
     content: "";
     position: absolute;
     width: 27px;
     height: 5px;
     background-color: #ee3643;
     top: 8px;
     right: -3px;
}
 .write-us-close::after, .write-us-close::before {
}
 .modal-close-button::after {
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .modal-close-button::before {
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
 .modal ul {
     list-style: none;
}
 .modal input:focus {
     border:2px solid red;
     outline: none;
}
 .modal textarea:focus {
     border:2px solid red;
     outline: none;
}
 .modal .button {
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     background-color: #ee3643;
     color: #ffffff;
}
/* Конец Index ---------------------------------------------------------- */
 .breadcrumbs {
     position: relative;
     list-style: none;
     padding: 0;
     margin: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     font-size: 13px;
     line-height: 18px;
     width: 380px;
     min-height: 20px;
     margin-bottom: 20px;
     text-transform: uppercase;
     margin-left: 55px;
     margin-top: 20px;
}
 .breadcrumbs .home-icon-link {
     position: absolute;
     content: "";
     background-image: url("../img/icon-home.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 15px;
     height: 13px;
     left: -57px;
     top: 3px;
}
 .breadcrumbs li:first-child {
     position: absolute;
}
 .breadcrumbs li {
     position: relative;
     margin-right: 40px;
}
 .breadcrumbs li:first-child::after {
     position: absolute;
     content: "";
     background-image: url("../img/icon-right-small.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 7px;
     height: 12px;
     left: -28px;
     top: 3px;
}
 .breadcrumbs li:nth-child(2)::after {
     position: absolute;
     content: "";
     background-image: url("../img/icon-right-small.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 7px;
     height: 12px;
     left: 67px;
     top: 3px;
}
 .breadcrumbs li:last-child::after {
     position: absolute;
     content: "";
     background-image: url("../img/icon-right-small.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     width: 7px;
     height: 12px;
     left: -23px;
     top: 3px;
}
 .breadcrumbs a {
     color: #000000;
}
 .merch-headline {
     font-family: "Cuprum", Arial, sans-serif;
     font-size: 30px;
     font-weight: 400;
     line-height: 30px;
     padding: 0;
     margin: 0;
     color: #32425c;
     background-color: #f2f6f8;
     text-transform: uppercase;
     padding-top: 30px;
     padding-bottom: 27px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-left: 27px;
     margin-bottom: 20px;
}
 .filter {
     width: 220px;
     min-height: 750px;
     background-image: url("../img/filter-line.png"),url("../img/filter-line.png");
     background-repeat: no-repeat,no-repeat;
     background-position: 1px 245px, 1px 508px;
}
 .filter-option {
     padding-left: 30px;
     position: relative;
     cursor: pointer;
     margin-bottom: 20px;
}
 .filter-headline {
     background-color: #f7f3ec;
     color: #000000;
     font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 5px;
     margin: 0;
     margin-bottom: 13px;
     font-weight: 400;
}
 .price h3 {
     font-size: 17px;
     line-height: 30px;
     font-weight: bold;
     margin: 0;
     padding: 0;
     margin-bottom: 13px;
}
 .price-range {
     position: relative;
     width: 219px;
     height: 80px;
     background-color: #f7f3ec;
     border-radius: 5px;
     margin-bottom: 10px;
}
 .price-line {
     position: absolute;
     background-color: #00ca74;
     top: 40px;
     left: 20px;
     height: 2px;
     width: 180px;
}
 .price-range::after {
     position: absolute;
     content: "";
     width: 21px;
     height: 21px;
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 30px;
     left: 20px;
     background-image: url("../img/filter-button.svg");
}
 .price-range::before {
     position: absolute;
     content: "";
     width: 21px;
     height: 21px;
     background-repeat: no-repeat;
     background-position: 0 0;
     top: 30px;
     right: 15px;
     background-image: url("../img/filter-button.svg");
     z-index: 1;
}
 .price-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     margin-bottom: 40px;
}
 .min-price, .max-price {
     width: 94px;
     height: 38px;
     background-color: #f7f3ec;
     border-radius: 5px;
     text-align: center;
     padding-top: 7px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .min-price input[type="text"], .max-price input[type="text"] {
     width: 80px;
     outline: none;
     border: none;
     background-color: #f7f3ec;
     color: #000000;
     text-align: center;
}
 .filter-option input[type="checkbox"] + .checkbox-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/checkbox-off.svg");
     top: 100px;
     top: 0;
     left: 0px;
     opacity: 0.7;
}
 .filter-option input[type="checkbox"]:hover + .checkbox-indicator {
     opacity: 1;
}
 .filter-option input[type="checkbox"]:checked + .checkbox-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/checkbox-on.svg");
     top: 100px;
     top: 0;
     left: 0px;
}
 .filter-option input[type="checkbox"]:disabled + .checkbox-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/checkbox-on.svg");
     top: 100px;
     top: 0;
     left: 0px;
     opacity: 0.3;
}
 .filter-option input[type="radio"] + .radio-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/radio-off.svg");
     top: 100px;
     top: 0;
     left: 0px;
     opacity: 0.8;
}
 .filter-option input[type="radio"]:checked + .radio-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/radio-on.svg");
     top: 100px;
     top: 0;
     left: 0px;
}
 .filter-option input[type="radio"]:hover + .radio-indicator {
     opacity: 1;
}
 .filter-option input[type="radio"]:disabled + .radio-indicator {
     width: 25px;
     height: 25px;
     position: absolute;
     background-position: 0 0;
     background-repeat: no-repeat;
     background-image: url("../img/radio-on.svg");
     top: 100px;
     top: 0;
     left: 0px;
     opacity: 0.3;
}
 .filter fieldset {
     margin: 0;
     padding: 0;
     border: none;
}
 .filter-form .filter-developer {
     display: block;
     margin-bottom: 20px;
}
 .filter legend {
     font-size: 17px;
     line-height: 30px;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 15px;
}
 .filter ul {
     list-style: none;
     font-size: 15px;
     line-height: 20px;
     text-transform: uppercase;
     padding: 0;
     margin: 0;
}
 .filter input {
     color: #c5c5c5;
}
 .filter input:hover , .filter input:focus {
     color: #b5b5b5;
}
 .filter input:disabled + label {
     color: #e9e9e9;
}
 .filter-button {
     display: block;
     width: 140px;
     font-family: inherit;
     font-size: 13px;
     line-height: 18px;
     border: 1px solid lightgrey;
     margin-top: 60px;
     background-color: #ffffff;
     text-align: center;
     outline: none;
     padding: 9px 40px;
     border-radius: 5px;
     text-transform: uppercase;
     color: #000000;
}
 .button {
     font-size: 13px;
     line-height: 18px;
     text-align: center;
     outline: none;
     color: #ffffff;
     background-color: #ee3643;
     padding: 12px 40px;
     border-radius: 3px;
}
 .sortby {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     background-color: #f7f3ec;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     text-transform: uppercase;
     border-radius: 5px;
     margin-bottom: 22px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .sortby h3 {
     margin: 0;
     padding: 10px 20px;
     font-size: 13px;
     line-height: 18px;
     font-weight: 400;
}
 .sortby-wrapper .sortby-link{
     color: #b2b2b2;
     display: block;
     font-size: 13px;
     line-height: 18px;
     border-bottom: 1px dotted rgba(238, 54, 67, 1);
     margin-right: 70px;
}
 .sortby-wrapper .sortby-link-current {
     color: #ee3643;
     display: block;
     font-size: 13px;
     line-height: 18px;
     margin-right: 70px;
}
 .sortby-link:last-child {
     margin-right: 43px;
}
 .sortby-wrapper {
     margin-left: 115px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
 .lowtohigh-wrapper {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
 .lowtohigh-wrapper .arrow-up {
     margin-right: 20px;
}
 .sortby-link:hover, .sortby-link:focus {
     color: #000000;
     border-bottom: 1px solid red;
}
 .arrow-up:hover polygon, .arrow-up:focus polygon, .arrow-down:hover polygon, .arrow-down:focus polygon {
     fill: #231f20;
}
 .arrow-current polygon {
     fill: #ee3643;
}
 .catalog {
     min-height: 1200px;
     width: 700px;
}
 .catalog-columns {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .catalog ul {
     list-style: none;
     font-size: 18px;
     line-height: 20px;
     color: #000000;
     background-color: #ffffff;
     margin: 0;
     padding: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
 .catalog a {
     color: #000000;
}
 .item-name .actions {
     display: none;
}
 .item-name:hover .actions {
     display: block;
}
 .item-name .flag {
     position: absolute;
     top: 0px;
     right: 0px;
     width: 60px;
     height: 60px;
}
 .item-name {
     position: relative;
     width: 220px;
     margin-bottom: 20px;
     margin-right: 20px;
     outline: 1px solid lightgrey;
}
 .item-name:hover , .item-name:focus {
     -webkit-box-shadow: 0px 10px 50px -30px #000000;
     box-shadow: 0px 10px 50px -30px #000000;
}
 .item-name h3 {
     text-align: center;
     -ms-flex-item-align: stretch;
         -ms-grid-row-align: stretch;
         align-self: stretch;
     padding: 0;
     margin: 0;
     padding-bottom: 3px;
     margin-top: 10px;
     font-size: 18px;
     line-height: 20px;
     padding-left: 25px;
     padding-right: 25px;
}
 .item-name a {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: start;
     -ms-flex-pack: start;
     justify-content: flex-start;
}
 .item-name img {
     -webkit-box-ordinal-group: 0;
     -ms-flex-order: -1;
     order: -1;
}
 .item-name .price {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     margin: 0;
     padding: 0;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     width: 140px;
     font-size: 17px;
     line-height: 18px;
     -webkit-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
}
 .item-name:nth-child(3n) {
     margin-right: 0;
}
 .item-name:nth-child(3n) .price {
     margin-top: 38px;
}
 .old-price {
     color: #999999;
     text-decoration: line-through;
     font-size: 17px;
     line-height: 18px;
     padding-left: 16px;
     padding-right: 20px;
     padding-top: 7px;
     padding-bottom: 10px;
     font-weight: bold;
}
 .new-price {
     color: #ffffff;
     background-color: red;
     font-size: 17px;
     line-height: 18px;
     position: relative;
     width: 80px;
     margin-bottom: 17px;
     padding: 10px 30px;
     color: white;
     background: #ee3643;
     border-radius: 3px;
     margin-left: 3px;
     text-align: center;
     font-weight: bold;
     margin-top: 2px;
}
 .new-price:after {
     content: "";
     position: absolute;
     top: 0;
     right: -20px;
     width: 0;
     height: 0;
     border: 19px solid white;
     border-left-color: #ee3643;
}
 .catalog .pagination-list {
     margin: 0;
     padding: 0;
     list-style: none;
     border: none;
     margin-bottom: 60px;
     margin-top: 32px;
}
 .pagination-list .pagination-page{
     display: block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 13px;
     line-height: 18px;
     color: #000000;
     background-color: #ffffff;
     text-transform: uppercase;
     text-align: center;
     width: 38px;
     height: 38px;
     padding-top: 10px;
     border: 1px solid #e5e5e5;
     border-radius: 2px;
     margin-right: 10px;
}
 .pagination-list .pagination-page-next {
     width: 140px;
}
 .pagination-list .pagination-page-current {
     background-color: #ee3643;
     color: #ffffff;
     border: 1px solid transparent;
}
 .pagination-list .pagination-page-current:hover, .pagination-list .pagination-page-current:focus {
     border: 1px solid transparent;
}
 .pagination-list a:hover , .pagination-list a:focus {
     border: 1px solid #bdc6ca;
}
 .pagination-list a:active {
     border: 1px solid red;
}
 .about-instrument {
     background-color: #f2f6f8;
     color: #000000;
     width: 100%;
}
 .about-instrument h2 {
     font-family: "Cuprum", Arial, sans-serif;
     padding: 0;
     margin: 0;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     font-weight: 400;
     padding-top: 65px;
     padding-bottom: 26px;
}
 .about-instrument p {
     padding: 0;
     margin: 0;
     font-size: 13px;
     line-height: 24px;
     padding-bottom: 70px;
     width: 939px;
}
 .modal-cart {
     display: none;
     position: fixed;
     width: 620px;
     top: 410px;
     left: 50%;
     margin-left: -215px;
     -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
     border-top: 7px solid #ff5257;
     z-index: 2;
}
 .modal-cart h2 {
     font-family: "Cuprum", Arial, sans-sans-serif;
     font-size: 30px;
     line-height: 30px;
     margin: 0;
     padding: 0;
     text-align: center;
     padding-top: 65px;
     padding-left: 52px;
     margin-bottom: 69px;
     font-weight: 400;
}
 .modal-cart::after {
     position: absolute;
     content: "";
     width: 66px;
     height: 66px;
     background-repeat: no-repeat;
     background-position: 0 0;
     background-image: url("../img/icon-mark.svg");
     top: 50px;
     left: 80px;
}
 .cart-buttons {
     background-color: #f1f1f1;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 36px 80px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
}
 .check-out {
     font-family: "Cuprum", Arial, sans-sans-serif;
     display: block;
     padding: 11px 0;
     width: 220px;
     font-size: 14px;
     line-height: 18px;
     color: #ffffff;
     background-color: red;
     text-align: center;
     text-transform: uppercase;
     border-radius: 5px;
     font-weight: bold;
     font-weight: 400;
     box-sizing: border-box;
     padding-right: 5px;
}
 .continue-shoping {
     font-family: "Cuprum", Arial, sans-sans-serif;
     width: 220px;
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     color: #000000;
     background-color: #ffffff;
     text-align: center;
     text-transform: uppercase;
     border: none;
     border-bottom: 5px;
     font-weight: bold;
}
 .modal-show {
     display: block;
}
